<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tina.openstackclient">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" /></activity>
        <activity
            android:name=".InstanceMenuActivity"
            android:label="@string/title_activity_instance_menu"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ProjectsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" /></activity>
        <activity
            android:name=".InstanceDetailsActivity"
            android:label="@string/title_activity_instance_details"
            android:parentActivityName=".InstanceMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tina.openstackclient.InstanceMenuActivity" />
        </activity>
    </application>

</manifest>